.link {
  text-decoration: none;
  color: #F2F2F3;

}

.order {
  list-style: none;
  border-radius: 40px;
  background-color: #1C1C21;
  padding: 24px;
  margin-bottom: 16px;
  text-align: start;
}

.numberContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderContainer {
  display: flex;
  justify-content: space-between;
}

.ingredientList {
  list-style: none;
  display: flex;
  padding: 0;
}

.icon {
  width: 64px;
  height: 64px;
  position: relative;
  left: 16px;
  overflow: hidden;
  background: #131316 center center /cover no-repeat;
  margin-left: -16px;
  border: 2px solid #801ab2;
  border-radius: 100%;
  box-sizing: border-box;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000075;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderStatus {

}

.orderStatusDone {
  color: #00CCCC;
}

.orderStatusCreated {

}

.orderStatusCanceled {
  color: #c21111;
}