.feed {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  text-align: start
}

.orderFeed {
  width: 600px;
  padding-left: 8px;
}

.orderList {
  padding: 0 8px 0 0;
  max-height: calc(100vh - 20px - 88px - 100px - 20px);
  overflow-y: scroll;
}

.orderList::-webkit-scrollbar {
  width: 8px;
}

.orderList::-webkit-scrollbar-track {
  background: #2F2F37;
}

.orderList::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.statistics {
  width: 612px;
}

.coverStatisticOrders {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.statusList {
  display: flex;
  column-gap: 48px;
  padding: 0;
}

.orders {
  padding: 0;
  margin: 0;
}

.order {
  list-style: none;
}

.orderStatusDone {
  color: #00CCCC;;
}

.count {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}