.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 108px);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.button {
  align-self: center;
}

.text {
  color: #8585ad;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  opacity: 0.6;
}